/* Page */
.fancy-treeview-page {

  ol.fancy-treeview-content {
    counter-reset: first-level;
  }

  li.generation-block {
    counter-reset: second-level;

    &:before {
      counter-increment: first-level;
      content: "";
    }

    &.generation-block-hidden {
      display: none;
    }
  }

  li.family {
    counter-reset: third-level;

    &:before {
      counter-increment: second-level;
      @include jc-direction (content, counter(first-level) "." counter(second-level));
      flex: 0 0 3rem;
    }

    .parents {
      flex: 1 1 0;
    }

    .children {
      flex: 1 1 100%;
    }
  }

  li.child {
    &:before {
      counter-increment: third-level;
      @include jc-direction (content, counter(first-level) "." counter(second-level) "." counter(third-level));
      flex: 0 1 4rem;
    }
    .child-data {
      flex: 1 0 0;
    }
  }

  .theme-clouds &,
  .theme-colors & {
    .wt-block-header:before {
      float: left;
    }
    .header-title-container {
      padding: .35rem 0;

      .header-title {
        font-weight: 600;
      }
    }
  }
}