// Fancy Treeview PDF styling
.fancy-treeview-page {
  .pdf-waiting-message {
    font-weight: bold;
    visibility: hidden;

    &:after {
      content:url("images/loading.gif");
      margin-left: .5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

