// styles for the fancy treeview tab on the individual page
.fancy-treeview-tab {
  @extend .fancy-treeview-page;

  .icon-mime-application-pdf {
    background-image: url("images/pdf-icon-small.png");
    background-position: right;
  }

  .pdf-icon {
    @extend %pm-0;
  }

  .back-to-top {
    display: none;
  }
}