.jc-theme-justlight {

    .jc-fancy-treeview-page {

        :target {
            display: block;
            position: relative;
            top: -200px;
            visibility: hidden;
        }
    }
}
