/* Fancy Treeview Page */
.jc-fancy-treeview-page {

    &-body {
        line-height: 1.5rem;
    }

    // custom theme
    .jc-theme-justlight & {

        &:target {
            display: block;
            position: relative;
            top: -200px;
            visibility: hidden;
        }
    }
}
