@page
{
    size: A4 portrait;
    margin: 2cm 1cm;
}

@media print {
    .jc-fancy-treeview-page {

        color: #000;
        a {
            color:  #bd470e;
            font-weight: bold;
        }

        .jc-generation-block-header {
            break-after: avoid;
            border-bottom-color: #000 !important;
        }

        .jc-person-block {
            break-before: avoid;
        }

        .jc-person-block,
        .jc-spouse-block,
        .jc-children-block {
            break-inside: avoid;
        }
    }
}
