/* Fancy Treeview Page */
.jc-fancy-treeview-page-body {
  line-height: 1.5rem;
}

[dir="ltr"] .jc-fancy-treeview-tab ol {
  padding-left: 0;
}

[dir="rtl"] .jc-fancy-treeview-tab ol {
  padding-right: 0;
}

.jc-fancy-treeview-tab .jc-generation-block-header a {
  display: none;
}

/* Fancy Treeview List */
.jc-fancy-treeview-page li {
  position: relative;
  display: block;
}

li.jc-generation-block {
  counter-reset: second-level;
}

li.jc-generation-block::before {
  counter-increment: first-level;
  content: "";
}

li.jc-family-block {
  counter-reset: third-level;
}

li.jc-family-block::before {
  counter-increment: second-level;
  content: counter(first-level) "." counter(second-level);
}

[dir="ltr"] li.jc-family-block::before {
  margin-left: -3rem;
  float: left;
}

[dir="rtl"] li.jc-family-block::before {
  margin-right: -3rem;
  float: right;
}

li.jc-child-li::before {
  counter-increment: third-level;
  content: counter(first-level) "." counter(second-level) "." counter(third-level);
}

[dir="ltr"] li.jc-child-li::before {
  padding-right: 0.5rem;
}

[dir="rtl"] li.jc-child-li::before {
  padding-left: 0.5rem;
}

.jc-theme-justlight .jc-fancy-treeview-page :target {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}
